@model Sistema.Apresentacao.Models.PlacaMaeViewModelEdita

@{
    ViewBag.Title = "Editar Dados da Placa Mãe";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.IDPlacaMae)

    <h2 style="text-align: center;">Computador</h2>
    <hr />

    <div class="container">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.IDComputador)
            @Html.DisplayFor(model => model.IDComputador)
        </div>

        <div class="col-md-4"></div>

        <div class="panel panel-primary">
            <div class="panel-heading"><h4 class="panel-title" style="text-align: center;">Dados da Placa Mãe</h4></div>
            <div class="panel-body">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.IDPlacaMae)
                        @Html.DisplayFor(model => model.IDPlacaMae)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Marca, htmlAttributes: new { @class = "control-label" })
                        @Html.ValidationMessageFor(model => model.Marca, "", new { @class = "text-danger" })
                        @Html.TextBoxFor(model => model.Marca, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Modelo, htmlAttributes: new { @class = "control-label" })
                        @Html.ValidationMessageFor(model => model.Modelo, "", new { @class = "text-danger" })
                        @Html.TextBoxFor(model => model.Modelo, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Salvar" class="btn btn-primary" />
            @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-primary" })
        </div>

        <div class="col-md-4"></div>

    </div>
}
