@model IEnumerable<Sistema.Apresentacao.Models.ComputadorViewModelLista>

@{
    ViewBag.Title = "Lista de Computadores";
}

<h1></h1>

<div class="alert-danger">
    @ViewBag.MensagemErro
    @TempData["MensagemErro"]
</div>
<div class="alert-success">
    @ViewBag.MensagemSucesso
    @TempData["MensagemSucesso"]
</div>

<h1></h1>

<div class="panel panel-primary">
    <div class="panel-heading"><h4 class="panel-title" style="text-align: center;">Lista de Computadores</h4></div>
    <div class="panel-body">

        <p>
            @Html.ActionLink("Adicionar Novo Computador", "CriarComputador", null, new { @class = "btn btn-primary" })
        </p>

        @using (Html.BeginForm())
        {
            @*<p>Busca por <b> Data de criação do computador</b></p>*@
            @Html.Label("Busca por Data de criação do computador", new { @class = "label-control" })
            <div class="form-inline">
                @Html.TextBox("busca", null, new { @class = "form-control", @placeholder = "27/06/2017" })
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>

            <h1></h1>
        }

        <table class="table">
            <tr>
                <th>
                    @Html.ActionLink("Código do computador", "index", new { ordem = ViewBag.IDComputador })
                </th>
                <th>
                    @Html.ActionLink("Data de criação do Computador", "index", new { ordem = ViewBag.DataCricao })
                </th>
                <th>
                    @Html.DisplayName("Dados da Fonte")
                </th>
                <th>
                    @Html.DisplayName("Dados do(s) HD(s)")
                </th>
                <th>
                    @Html.DisplayName("Dados da(s) Memória(s) RAM(s)")
                </th>
                <th>
                    @Html.DisplayName("Dados da Placa Mãe")
                </th>
                <th>
                    @Html.DisplayName("Dados do Processador")
                </th>
                <th>
                    
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDComputador)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataCriacao)
                    </td>
                    <td>
                        @Html.ActionLink("Exibir", "ListarFonte", new { id = item.IDFonte }, new { @class = "btn btn-primary" })
                    </td>
                    <td>
                        @Html.ActionLink("Exibir", "ListarHD", new { id = item.IDHD }, new { @class = "btn btn-primary" })
                    </td>
                    <td>
                        @Html.ActionLink("Exibir", "ListarMemoriaRAM", new { id = item.IDMemoriaRAM }, new { @class = "btn btn-primary" })
                    </td>
                    <td>
                        @Html.ActionLink("Exibir", "ListarPlacaMae", new { id = item.IDPlacaMae }, new { @class = "btn btn-primary" })
                    </td>
                    <td>
                        @Html.ActionLink("Exibir", "ListarProcessador", new { id = item.IDProcessador }, new { @class = "btn btn-primary" })
                    </td>
                    <td>
                        @Html.ActionLink("Excluir", "DeletarComputador", new { id = item.IDComputador }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }

        </table>

    </div>
</div>
