@model Sistema.Apresentacao.Models.FonteViewModelLista

@{
    ViewBag.Title = "Dados da Fonte";
}

<h2 style="text-align: center;">Computador</h2>
<hr/>

<div class="container">

    <div class="form-group">
        @Html.LabelFor(model => model.IDComputador)
        @Html.DisplayFor(model => model.IDComputador)
    </div>

    <div class="col-md-4"></div>

    <div class="panel panel-primary">
        <div class="panel-heading"><h4 class="panel-title" style="text-align: center;">Dados da Fonte</h4></div>
        <div class="panel-body">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.IDFonte)
                    @Html.DisplayFor(model => model.IDFonte)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Marca, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Marca, new { @class = "form-control", @readonly = true })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Modelo, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Modelo, new { @class = "form-control", @readonly = true })
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.ActionLink("Editar", "EditarFonte", new { id = Model.IDFonte }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-primary" })
    </div>

    <div class="col-md-4"></div>

</div>
